.conteiner{
  height: 150vh;
  width: 90%;
  flex-grow: 1;
  margin-left: 5%;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.conteiner h1{
    text-align: center;
    font-size: 80px;
    color: aliceblue    ;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.conteiner img{
    width: 390px;
    margin-left: 40%;
}
.conteiner p {
    font-size: 30px;
    color: rgb(0, 193, 247);   
}