.body{
    height: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(255, 0, 0), orange, purple);
}
.encabezado {
    height: 200px;
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: space-between;
    background: #e9eeff;
    background: linear-gradient(rgb(255, 136, 136), rgb(255, 206, 114), rgb(255, 111, 255));
    padding: 0px 20px;
}
.logo img {
    width: 40px;
}
.menu ul{
    list-style: none;
    display: flex;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    gap: 55px;
}
.menu li {
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(0, 252, 239);
}
.menu li:hover{
    background-color: rgb(255, 152, 152);
    box-shadow: 0 1px 25px 25px rgb(255, 0, 0);
}
.redes ul {
    list-style: none;
    display: flex;
}
.redes img{
    width: 30px;
    height: 30px;
}
.redes li {
    cursor: pointer;
}
.redes img:hover{
    width: 80px;
    height: 80px;
}
.cuerpo {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-left: 5%;
    margin-top: 50px;
    flex-grow: 1;
}

.interior {
    width: 85%;
    height: 350px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 40px;
}

.interior div {
    flex: 1 ;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.interior div div{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenes{
    margin-top: 10px;
}
.interior div h3{
    margin-top: 10px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
}
.interior div p{
    margin-top: 10px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 90px;
}
.card1{
    margin-top: 50px;
    height: 500px;
    margin-bottom: 200px;
    width: 100%;
    background-color: #c8f3dd;
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 100px 75px rgba(238, 255, 0, 0.2);
}
#card2{
    height: 500px;
    width: 60%;
    display: flex;
    justify-content: center;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: #1f2933; /* gris oscuro elegante */
    padding: 20px 0;
    display: flex;
    margin-top: 300px;
    align-items: center;
    justify-content: center;
}

.card3 {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    flex-wrap: wrap;
}

.card3 div {
    margin: 5px 0;
}

.card3 h2 {
    font-size: 16px;
    font-weight: 400;
}
