.container{
  height: 600px;
  width: 90%;
  display: flex;
  flex-grow: 1;
  columns: 3;
  align-items: center;
  background-color: rgba(240, 248, 255, 0);
}
.productos{
    min-height: 1;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    background-color: rgba(0, 135, 253, 0);
    flex-grow: 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.imagenes{
    width: 50%;
    min-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.imagenes2{
    width: 22%;
    min-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.imagenes2:hover{
    width: 50%;
    min-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.imagenes:hover{
    width: 100%;
    min-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
button{
    border-radius: 20px;
    height: 50px;
    background-color: blue;
}
button:hover{
    border-radius: 20px;
    height: 50px;
    background-color: black;
}
