.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 140px;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15)
}

.card:hover {
    width: 800px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.imagen-card {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}